body {
	font-family: "Roboto", sans-serif;
	padding: 12px 0;
	margin: 0;
}
h1 {
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
}
.main-nav {
	display: flex;
	justify-content: space-between;
}

.main-nav a {
	text-decoration: none;
	color: black;
}
.main-header {
	background-image: url("./images/hero-image.jpg");
	background-size: cover;
	background-position: center;
	height: 500px;
	display: flex;
	align-items: center;
}
.book-form {
	color: white;
	background-color: rgba(167, 177, 195, 0.2);
	backdrop-filter: blur(8px);
	padding: 40px;
	width: fit-content;
	border-radius: 24px;
}
label {
	display: block;
}
select {
	width: 100%;
}
.card {
	width: 100%;
	height: 100%;
}
.card-img-top {
	width: 100%;
	height: 100%;
	max-height: 200px;
	object-fit: cover;
}
